.country{
    font:14px tahoma;
    background: $primary-white;
    box-shadow: 0px 0px 5px 1px #cccccc30;
    border-radius: $SP-8;
    &__details{
        padding: $SP-32;
    }
}
.Dark{
    .country{
        background-color:$dark-header-background;
        box-shadow: unset;
        color:$primary-white;
    }
    
}